.banner {
    background: linear-gradient(-45deg,#5Ae3ed,#9263E3);
    height: 90vh;
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }
}
.card-icon {
    i {
        font-size: 5rem;
        color: $primaryColor;
    }
}