.about-container {
    height: 100vh;
    .banner {
        background: linear-gradient(-45deg,#5Ae3ed,#9263E3);
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;

        .about-main {
            text-align: left !important;
            h1 {
                @include main-header-style-w
            }

            p {
                @include subtitle-style-w
            }
        }
    }
}

.container.about-content {
    text-align: left !important;
}

.card-icon {
    i {
        font-size: 3rem;
        color: $primaryColor;
    }
}
