.begin-container {
    width: 100%;
    height: 100vh;
    background-color: #5Ae3ed;
    position: absolute;
    top: 0;

    .begin-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;

        h2 {
            @include secondary-header-style-w 
        }
    }
}