.text-center {
    text-align: center;
  }
  .container {
    max-width: 900px;
    margin: 50px auto;
    text-align: center;
  }
  
  a {
    text-decoration: none;
  }
  
  h1, h2, h3 {
    margin: 0;
  }
  
  #intro {
      h2 {
          @include secondary-header-style
      }
      margin-bottom: 50px;
  }