<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/1532435/pexels-photo-1532435.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">

    <div class="container py-4">
        <h1>Feel Beyond time and space</h1>
        <p>Create your own time capsules and send them to the future!</p>
        <%= link_to "Get started", about_path, class: "btn btn-cta btn-primary btn-lg py-2 text-white" %>
    </div>
</div>

<div class="container py-4">
    <section class="about-vision">
        <h2 class="content mb-4">What we do</h2>
        <div class="row">
            <div class="col-md-12 d-flex">
                <img />
                <div class ="content py-2">
                    <p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.</p>
                    <p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="about-mission">
        <h2 class="content mb-4">Why choose us ?</h2>
        <div class="row">
            <div class="col-md-12 d-flex">
                <div class ="content py-2">
                    <p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.</p>
                    <p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.</p>
                </div>
            </div>
        </div>
    </section>
</div>
