<div class="about-container">
    <div class="banner d-flex align-items-center">

        <div class="container about-main py-4">
            <h1>Feel Beyond time and space</h1>
            <p class="my-4">Create your own time capsules and send them to the future!</p>
            <%= link_to "Get started", about_path, class: "btn main-cta-w py-2" %>
        </div>
    </div>
</div>

<div class="container py-4">
    <section class="about-vision">
        <h2 class="content mb-4">What is FEEL BEYOND ?</h2>
        <div class="row">
            <div class="col-md-12 d-flex">
                <img />
                <div class ="content py-2">
                    <p>FEEL BEYOND is an innovative digital company. Our vision is to capture emotions while people celebrate life, and the afterlife in the digital age.</p>
                    <br>
                    <p>FEEl is the best way to preserve your digital legacy and beyond time and space. You can leave your legacy in photos, vidéos, musique, 3D animation, Virtual Reality, holography and much more. The only limit is technology and your creativity.</p>
                    <br>
                    <p>Once your digital legacy is encapsulated in one of our time capsules, you can choose where you want to store it. You can place it at the Svalbard Global Seed Vault on the Norwegian island of Spitsbergen, or under the deepest oceanic trench, Marianas Trench, located in the western Pacific Ocean. But, keep in mind that our beautiful planet is not the limit ! What if you choose to send your capsule legacy in the Milky Way? We will do it for you.</p>
                    <br>
                    <p>There is no limit of time for your memories to be stored in your time capsule. Indeed, you can nominate a Guardian who can manage your capsule when you have sadly passed away. And the Guardian can pass the legacy to another one. Until the future generations decide to open jump into your past full of emotional memories.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="about-mission">
        <h2 class="content mb-4">Entrust us your best memories</h2>

        <div class="cards-container py-2">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card d-flex align-items-center flex-row px-4">
                        <div class="card-icon d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-file-shield"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Privacy & Security</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card d-flex align-items-center flex-row px-4">
                        <div class="card-icon d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-upload"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Easy setup</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cards-container py-2">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card d-flex align-items-center flex-row px-4">
                        <div class="card-icon d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-database"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Privacy & Security</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card d-flex align-items-center flex-row px-4">
                        <div class="card-icon d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-file-shield"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Easy setup</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
