<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/1532435/pexels-photo-1532435.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">

  <div class="container">
    <h1>Feel Beyond time and space</h1>
    <p>Create your own time capsules and send them to the future!</p>
    <%= link_to "Get started", about_path, class: "btn btn-cta btn-lg text-white" %>
  </div>
</div>

<div class="container">
    <h1 class="content mb-4">What we do</h1>
    <div class="row">
        <div class="col-md-12 d-flex">
            <img />
            <div class ="content p-5">
                <p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.</p>
                <p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.</p>
            </div>
        </div>
      </div>
    </div>

    <section class="about-mission">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center testimonial-pos">

                <div class="col-md-12 pt-4 d-flex justify-content-center">
                    <h3>Lorem</h3>
                </div>

                <div class="col-md-12 d-flex justify-content-center">
                    <h2>Lorem ipsum</h2>
                </div>

            </div>
        </div>
    </section>
</div>
