

<script src="https://kwesforms.com/v2/kwes-script.js" defer></script>

<div>
  <div class="contact-form-wrapper d-flex justify-content-center">
    <form class="kwes-form contact-form" action="https://kwesforms.com/api/foreign/forms/WxmgNy5acQeJYwhg1pg5">
      <h5 class="title">Contact us</h5>
      <p class="description">Feel free to contact us if you need any assistance, any help or another question.
      </p>
      <div>
        <label class="form-label" for="name"></label>
        <input type="text" class="form-control rounded border-white mb-3 form-input" id="name"  placeholder="Last name &amp; First Name" name="name">
      </div>
      <div>
        <label class="form-label" for="email"></label>
        <input type="email" class="form-control rounded border-white mb-3 form-input" id="name"  placeholder="Email" name="Email">
      </div>
      <div>
        <label class="form-label" for="message"></label>
        <textarea id="message" class="form-control rounded border-white mb-3 form-text-area" rows="5" cols="30" placeholder="Message" name="Message"></textarea>
      </div>
      <div class="submit-button-wrapper ">
        <input type="submit" value="Send">
      </div>
    </form>
  </div>
</div>
