<div class="flex-container">
  <div id="container-animation">
		<div id="container">
			<h1>
				CREATE YOUR<br/>
				<span id="animation-target">TIME CAPSULE</span><br/>
				LEGACY
			</h1>
		</div>
      <button type="button" class="btn btn-primary">
      Learn More
      </button>
	</div>
</div>

<div class="spinning-earth">
  <div class="earth"></div>
  <div class="moon-hitbox">
    <div class="moon"></div>
    <div class="moon moon-back"></div>
  </div>
</div>

<%= link_to 'Start your legacy', new_box_path, class: "btn btn-primary btn-block" %>

<%= link_to "Home", root_path %>
<%= link_to "Contact", contact_path %>
<%= link_to "About", about_path %>
