TEST MODAL
<div class="card">
  <h1 class="card__title">
    Credit card
  </h1>
  <h2 class="card__price">
    <sup>$</sup>4.99<sup>/mo</sup>
  </h2>
  <button class="card__btn">
    <%= link_to 'Validate the payment', new_box_path, class: "btn header-cta" %>
  </button>
</div>
<div class="card">
  <h1 class="card__title">
    Bank Transfert
  </h1>
  <h2 class="card__price">
    <sup>$</sup>6.99<sup>/mo</sup>
  </h2>
  <button class="card__btn">
    <%= link_to 'Validate the payment', new_box_path, class: "btn header-cta" %>
  </button>
</div>
<div class="card">
  <h1 class="card__title">
    Crypto BTC
  </h1>
  <h2 class="card__price">
    <sup>$</sup>9.99<sup>/mo</sup>
  </h2>
  <button class="card__btn">
    <%= link_to 'Validate the payment', new_box_path, class: "btn header-cta" %>
  </button>
</div>
