


<div class="pcard m-2">
  <h1 class="pcard__title">
    Credit card
  </h1>
  <h2 class="pcard__price">
    <sup>$</sup>100<sup></sup>
  </h2>
  <button class="">
    <%= link_to 'Confirm payment', new_box_path, class: "btn secondary-cta mt-2" %>
  </button>
</div>


<div class="pcard m-2">
  <h1 class="pcard__title">
    Bank Transfert
  </h1>
  <h2 class="pcard__price">
    <sup>$</sup>100<sup></sup>
  </h2>
  <button class="">
    <%= link_to 'Confirm payment', new_box_path, class: "btn secondary-cta mt-2" %>
  </button>
</div>


<div class="pcard m-2">
  <h1 class="pcard__title">
    Crypto Chicken Token
  </h1>
  <h2 class="pcard__price">
    <sup>CHK</sup>10<sup></sup>
  </h2>
  <button class="">
    <%= link_to 'Confirm payment', new_box_path, class: "btn secondary-cta mt-2" %>
  </button>
</div>
