.main-cta {
    @include main-cta-color
}

.main-cta-w {
    @include main-cta-w
}


.secondary-cta {
    @include secondary-cta
}

.secondary-cta-w {
    @include secondary-cta-w;
    &:focus {
        box-shadow: none;
    }
}

.btn-xl {
  font-size: 60px;
  border-radius: 20px;
}
