.navbar-lewagon {
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.151);

  .avatar-bordered {
    width: 40px;
  }

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.nav-link {
  color: #fff !important;
  transition: all 0.3s ease;

  &:hover {
    color: $primaryColor !important;
    transform: scale(.9);
  }
}
