.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: sticky;
  width: 100%;
  //border-bottom: 5px solid $misty-blue;
  height: 80px;
  top: 0;
  z-index: 999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.nav-link {
  color: #fff !important;
}
