<h2><%= location.name %></h2>
<p><%= location.latitude %></p>
<p><%= location.longitude %></p>

<%= link_to "Choose Location", new_box_path(:location => location), class:"btn btn-primary btn-block"%>
